@{
  Layout = "_Layout";
}

    @using PierresVendorsAndOrders.Models;

    <h3>Orders:</h3>

    @if (!((List<Order>)Model["orders"]).Any())
    {
      <p>Your order list is empty.</p>
    }
    
    <ol>
    @foreach (Order order in @Model["orders"])
    {
      <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Product</a></li>
    }
    </ol>
    <div class="links">
    <p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new product</a></p>
    <p><a href='/vendors'>Return to vendor list</a></p>
    <p><a href='/'>Return to Main Page</a></p>
    </div>