@{
  Layout = "_Layout";
}

<div class="links">
  <br />
  <br />
  <h1>Welcome back, Pierre! &#127838; &#129366;</h1>
  <br />
  <h2>Your Vendors and Orders Portal:</h2>
  <br />
  <a href='/vendors'>View Vendors </a> 
  <a href='/vendors/new'>| Add New Vendor</a>
  <br />
  <br />
</div>