@{
  Layout = "_Layout";
}

    <div class="links">
    <h1>Pierre's Vendors And Orders</h1>
    <a href='/vendors'>View Vendors</a>
    <br>
    <a href='/vendors/new'>Add a new Vendor</a>
    </div>