@{
  Layout = "_Layout";
}

@using PierresVendorsAndOrders.Models;

    <h1>Vendor Order Details: </h1>

    <h2>@Model["order"].Product</h2>

    <a href='/vendors/@Model["vendor"].Id/orders/new'>Add another product</a>
    <a href='/vendors/@Model["vendor"].Id/'>View all orders</a>
